.inset {
    box-shadow: var(--shadow-inset);
    padding: var(--padding-5);
    border-radius: var(--border-radius-s);
    border: var(--default-border);
    background: var(--grey-background-1);

    .outset {
        display: flex;
        align-items: center;
        background: var(--white-background);
        border-radius: var(--border-radius-xs);
        box-shadow: var(--shadow-outset);
        text-decoration: none;
        height: 100%;
    }

    &.gradient {
        background: var(--grey-background-gradient);
    }

    &.primary {
        box-shadow: none;
        border-radius: 20px;
        border: var(--primary-border);
        background: var(--primary-background);

        .outset {
            background: var(--primary-background-gradient);
            border: var(--primary-border);
            box-shadow: none;
            color: var(--white-text);
        }
    }

    &.red {
        background-color: var(--red-dark);

        .outset svg {
            background-color: var(--grey-background-1);
            color: var(--red-dark);
        }
    }

    &.green {
        background-color: var(--green-dark);

        .outset svg {
            background-color: var(--grey-background-1);
            color: var(--green-dark);
        }
    }

    &.blue {
        background-color: var(--blue-dark);

        .outset svg {
            background-color: var(--grey-background-1);
            color: var(--blue-dark);
        }
    }

    &.round {
        border-radius: 100%;

        .outset {
            border-radius: 100%;
            justify-content: center;
        }
    }
    
    &[type="button"] {
        position: relative;
        padding: var(--padding-7);

        .outset {
            position: relative;
            transition: background-color var(--default-animation-time);
            z-index: 1;

            @media (hover:hover) {
                &:hover {
                    background-color: var(--grey-background-1);
                    cursor: pointer;
                }
            }
        }

        /* Focus Outline */

        &:after {
            position: absolute;
            content: '';
            display: block;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            border-radius: var(--border-radius-s);
            border: 2px solid var(--grey-borders);
            opacity: 0;
            transition: opacity var(--default-animation-time);
        }

        &.round:after {
            border-radius: 100%;
        }

        &:focus {
            outline: none;

            &:after {
                opacity: 1;
            }
        }
    }
}