.box {
    display: flex;
	border: var(--default-border);
	background-color: var(--white-background);
	border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-float-1);
    padding: var(--padding-2);
    grid-gap: var(--padding-4);

    &.toolbar {
        width: 100%;
        padding: var(--padding-4) var(--padding-3);

        &.integrated {
            border-radius: 0;
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    .nested-box {
        margin: calc(0px - var(--padding-2));
        background-color: var(--grey-background-1);
        box-shadow: none;
        padding: var(--padding-4) var(--padding-2);

        &:not(:only-child):last-child {
            margin-top: var(--padding-2);
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
            border-bottom: none;
            border-right: none;
        }

        &:not(:only-child):first-child {
            margin-bottom: var(--padding-2);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-left: none;
            border-top: none;
            border-right: none;
        }
    }
}