.clickable-input {
	border-radius: var(--border-radius-s);
	background-color: var(--grey-background-1);
	border: var(--default-border);
	color: var(--grey-text-2);
	box-shadow: var(--shadow-float-3);
	cursor: pointer;
	text-decoration: none;
	transition:
		background-color var(--default-animation-time),
		border-color var(--default-animation-time);
	position: relative;
	z-index: 1;

	/* Focus Outline */

	&:after {
		position: absolute;
		content: '';
		display: block;
		top: -2px;
		bottom: -2px;
		left: -2px;
		right: -2px;
		border-radius: var(--border-radius-s);
		border: 2px solid var(--grey-borders);
		opacity: 0;
		transition: opacity var(--default-animation-time);
	}

	&:focus {
		outline: none;

		&:after {
			opacity: 1;
		}
	}

	/* Hover Background */

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: var(--border-radius-s);
		background: none;
		background-color: var(--grey-background-1);
		filter: brightness(0.98);
		z-index: -1;
		opacity: 0;
		transition: opacity var(--default-animation-time);
	}

	@media (hover: hover) and (pointer: fine) {
		&:hover:before {
			opacity: 1;
		}
	}

	&.primary {
		background: var(--primary-background-gradient);
		border: var(--primary-border);

		span {
			color: var(--white-text);
		}

		&.primary-parent {
			border-color: rgba(from var(--white-text) r g b 0.72);
		}

		&:focus:after {
			border-color: var(--primary-borders) !important;
		}

		&:before {
			background: var(--primary-background-gradient);
			filter: brightness(0.92);
		}

		&.red {
			background: var(--red-background-gradient);
			border: var(--red-dark);

			&:before {
				background: var(--red-background-gradient);
			}
		}
	}

	&.transparent {
		background: none;
		border-color: transparent;
		box-shadow: none;
		border: 1px solid transparent;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: var(--grey-background-1);

				&:after {
					opacity: 0;
				}
			}
		}
	}
}
