@font-face {
    font-family: 'CustomIcons';
    src:  url('fonts/CustomIcons.eot?w7d4pr');
    src:  url('fonts/CustomIcons.eot?w7d4pr#iefix') format('embedded-opentype'),
      url('fonts/CustomIcons.ttf?w7d4pr') format('truetype'),
      url('fonts/CustomIcons.woff?w7d4pr') format('woff'),
      url('fonts/CustomIcons.svg?w7d4pr#CustomIcons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'CustomIcons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-feather:before {
    content: "\e900";
  }