@layer reset, contants, typography, materials, layouts, components;

/* Reset */
@import url("./reset.css") layer(reset);

/* Constants */
@import url("./constants/colors.css") layer(constants);
@import url("./constants/spacing.css") layer(constants);
@import url("./constants/borderRadius.css") layer(constants);

/* Layout */
@import url("./layout/layout.css") layer(layouts);

/* Typography */
@import url("./typography.css") layer(typography);



/* 
@import url("./constants/misc.css") layer(constants);
@import url("./materials.css") layer(materials);
@import url("./layout/page.css") layer(layouts);
@import url("./layout/form.css") layer(layouts);
@import url("./components/button.css") layer(components);
@import url("./components/dialog.css") layer(components);
@import url("./components/inputs.css") layer(components); */