*:not(h1, h2) {
	font-family: "Figtree", sans-serif;
    font-size: 20px;
}

h1, h2 {
    font-family: "Merriweather", serif;
	padding-bottom: var(--spacing-2);
}

h1 {
    font-size: 80px;
	color: var(--primary-base);
	position: relative;

    &:after {
        font-family: "Adobe Handwriting", serif;
        font-size: 250px;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%);
		line-height: 250px;
		user-select: none;
		z-index: -1;
		color: var(--grey-ornament);
    }
}

h2 {
    font-size: 30px;
	color: var(--primary-base);
}

p, label, button, input, a, textarea, select, option {
    font-family: "Figtree", sans-serif;
	color: var(--grey-text);
}

p {
	padding-bottom: var(--spacing-4);
	
	&:has(+ p) {
		padding-bottom: var(--spacing-2);
	}
}

/* Adobe Handwriting Ernie */
@font-face {
    font-display: swap;
	font-family: 'Adobe Handwriting';
	font-weight: normal;
	font-style: normal; 
    src: url('../../fonts/adobe_handwriting/AdobeHandwriting-Ernie.woff2') format('woff2');
}
/* merriweather-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/merriweather/merriweather-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/merriweather/merriweather-v33-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/figtree/figtree-v7-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 400;
	src: url('../../fonts/figtree/figtree-v7-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Figtree';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/figtree/figtree-v7-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* figtree-700italic - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Figtree';
	font-style: italic;
	font-weight: 700;
	src: url('../../fonts/figtree/figtree-v7-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
