@layer reset, contants, typography, materials, layouts, components;

/* Reset */
@import url("./reset.css") layer(reset);

/* Constants */
@import url("./constants/colors.css") layer(constants);
@import url("./constants/spacing.css") layer(constants);
@import url("./constants/borderRadius.css") layer(constants);
@import url("./constants/misc.css") layer(constants);

/* Typography */
@import url("./typography.css") layer(typography);

/* Materials */
@import url("./materials/sections.css") layer(materials);

/* Layout */
@import url("./layout/layout.css") layer(layouts);

/* Components */
@import url("./components/misc.css") layer(components);