:root {
    --default-animation-duration: 0.2s;

    --primary-shadow: 0px 3px 6px rgb(from var(--primary-base) r g b / 0.16);
    --grey-shadow-1: 0px 3px 6px rgba(0,0,0,0.16);
    --grey-shadow-1-top: 0px -3px 6px rgba(0,0,0,0.16);
    --grey-shadow-2: 0px 0px 10px rgba(0,0,0,0.16);
}

