:root {
    --spacing-1: 7px;
    --spacing-2: 15px;
    --spacing-3: 20px;
    --spacing-4: 30px;
    --spacing-5: 40px;
    --spacing-6: 50px;
    --spacing-7: 100px;
    --spacing-8: 130px;

    @media (max-width: 1500px) {
        --spacing-7: 75px;
    }
}