.button-content {
    display: inline-flex;
    align-items: center;
    min-height: 20px;
    width: 100%;
    position: relative;
    transition: opacity var(--default-animation-time);

    &.loader {
        position: absolute;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    &.has-icon {
        grid-gap: var(--padding-5);
        padding-right: var(--padding-5);

        &.center-alignment, 
        &.only-icon {
            padding-right: 0;
        }

        svg {
            height: 16px;
            color: var(--grey-text-2);
        }
    }

    &.center-alignment {
        justify-content: center;
        flex-direction: row-reverse;
    }
}

.clickable-input {
    &.primary .button-content.has-icon svg {
        color: var(--white-text);
    }

    &.transparent {
        flex-direction: row-reverse;
    }
}