form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
    .box.nested-box:last-child {
        justify-content: flex-end;
    }

    &.authentication {
        height: 100%;
        grid-gap: var(--padding-1);
    }

    fieldset {
        border: none;
        
        &:not(:last-of-type) {
            padding-bottom: var(--padding-2);
        }
    }
}