.grid-container {
    display: grid;
    grid-gap: var(--padding-1);
    --column-min-width: 200px;
    
    &.columns-2 {
        grid-template-columns: repeat(2, minmax(var(--column-min-width), 1fr));
    }
}