@layer reset, contants, typography, materials, layouts, components;

@import url("./reset.css") layer(reset);
@import url("./constants/colors.css") layer(constants);
@import url("./constants/spacing.css") layer(constants);
@import url("./constants/borderRadius.css") layer(constants);
@import url("./constants/misc.css") layer(constants);
@import url("./typography.css") layer(typography);
@import url("./customIcons/customIcons.css") layer(typography);
@import url("./materials.css") layer(materials);
@import url("./layout/page.css") layer(layouts);
@import url("./layout/form.css") layer(layouts);
@import url("./components/inputs.css") layer(components);