.box {
    display: flex;
	border: var(--default-border);
	background-color: var(--white-background);
	border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-float-1);
    padding: var(--padding-2);
    grid-gap: var(--padding-4);

    &.toolbar {
        width: 100%;
        padding: var(--padding-4) var(--padding-3);

        &.integrated {
            border-radius: 0;
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }

    .nested-box {
        margin: calc(0px - var(--padding-2));
        background-color: var(--grey-background-1);
        box-shadow: none;
        padding: var(--padding-4) var(--padding-2);

        &:not(:only-child):last-child {
            margin-top: var(--padding-2);
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
            border-bottom: none;
            border-right: none;
        }

        &:not(:only-child):first-child {
            margin-bottom: var(--padding-2);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-left: none;
            border-top: none;
            border-right: none;
        }
    }
}

.inset {
    box-shadow: var(--shadow-inset);
    padding: var(--padding-5);
    border-radius: var(--border-radius-s);
    border: var(--default-border);
    background: var(--grey-background-1);

    &.gradient {
        background: var(--grey-background-gradient);
    }

    &.primary {
        box-shadow: none;
        border-radius: 20px;
        border: var(--primary-border);
        background: var(--primary-background);
    }

    &[type="button"] {
        position: relative;
        padding: 3px;

        .outset {
            position: relative;
            transition: background-color var(--default-animation-time);
            z-index: 1;

            @media (hover:hover) {
                &:hover {
                    background-color: var(--grey-background-1);
                    cursor: pointer;
                }
            }
        }

        /* Focus Outline */

        &:after {
            position: absolute;
            content: '';
            display: block;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            border-radius: var(--border-radius-s);
            border: 2px solid var(--grey-borders);
            opacity: 0;
            transition: opacity var(--default-animation-time);
        }

        &.round:after {
            border-radius: 100%;
        }

        &:focus {
            outline: none;

            &:after {
                opacity: 1;
            }
        }
    }

    &.round {
        border-radius: 100%;

        .outset {
            border-radius: 100%;
        }
    }
}

.outset {
    display: flex;
    align-items: center;
    background: var(--white-background);
    border-radius: var(--border-radius-xs);
    box-shadow: var(--shadow-outset);
    text-decoration: none;
    height: 100%;

    &.primary {
        background: var(--primary-background-gradient);
        border: var(--primary-border);
        box-shadow: none;
        color: var(--white-text);
    }
}

.clickable-input {
    border-radius: var(--border-radius-s);
    background-color: var(--grey-background-1);
    border: var(--default-border);
    color: var(--grey-text-2);
    box-shadow: var(--shadow-float-3);
    cursor: pointer;
    text-decoration: none;
    transition: background-color var(--default-animation-time), border-color var(--default-animation-time);
    position: relative;
    z-index: 1;

    /* Focus Outline */

    &:after {
        position: absolute;
        content: '';
        display: block;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: var(--border-radius-s);
        border: 2px solid var(--grey-borders);
        opacity: 0;
        transition: opacity var(--default-animation-time);
    }

    &:focus {
        outline: none;

        &:after {
            opacity: 1;
        }
    }

    /* Hover Background */

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: var(--border-radius-s);
        background: none;
        background-color: var(--grey-background-1);
        filter: brightness(0.98);
        z-index: -1;
        opacity: 0;
        transition: opacity var(--default-animation-time);
    }

    @media (hover: hover) {
        &:hover:before {
            opacity: 1;
        }
    }

    &.primary {
        background: var(--primary-background-gradient);
        border: var(--primary-border);

        span {
            color: var(--white-text);
        }

        &.primary-parent {
            border-color: rgba(from var(--white-text) r g b 0.72);
        }

        &:focus:after {
            border-color: var(--primary-borders) !important;
        }

        &:before {
            background: var(--primary-background-gradient);
            filter: brightness(0.92);
        }
    }

    &.transparent {
        background: none;
        border-color: transparent;
        box-shadow: none;
        border: 1px solid transparent;

        @media (hover: hover) {
            &:hover {
                background-color: var(--grey-background-1);

                &:after {
                    opacity: 0;
                }
            }
        }
    }  
}

.frost-glass {
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(30px);

    &.white {
        background-color: rgba(from var(--white-background) r g b / 0.70);
    }
}