:root {
    --border-color: rgb(220,220,220);
    --white: rgb(255,255,255);
    --primary: rgb(33, 115, 70);
    --text: rgb(51,51,51);
    --secondary-text: rgb(112,112,112);
    --grey-background: rgb(240,240,240);
}