:root {
    --primary-base: rgb(64, 168, 237);
    --primary-light: rgb(from var(--primary-base) h s 64%);
    --primary-borders: hsl(from var(var(--primary-base)) h s 48%);
    --primary-background: hsl(from var(var(--primary-base)) h s 41%);
    --primary-background-gradient: linear-gradient(135deg, var(--primary-base), var(--primary-light));
    --primary-border: 1px solid var(--primary-borders);

    --white-background: rgb(255,255,255);
    --grey-background-1: rgb(248,248,248);
    --grey-background-2: rgb(243,243,243);
    --grey-background-gradient: linearGradient(45deg, var(--grey-background-1), var(--grey-background-2));
    --grey-borders: rgb(220,220,220);
    --grey-text-1: rgb(180,180,180);
    --grey-text-2: rgb(112,112,112);
    --grey-text-3: rgb(80,80,80);
    --white-text: rgb(255,255,255);
    --default-border: 1px solid var(--grey-borders);

    --shadow-float-1: 0 10px 20px rgba(0,0,0,0.03);
    --shadow-float-2: 0 10px 20px rgba(0,0,0,0.04);
    --shadow-float-3: 0 1px 6px rgba(0,0,0,0.4);
    --shadow-inset: inset 1px 1px 1px rgba(0,0,0,0.16);
    --shadow-outset: 0 1px 2px rgba(0,0,0,0.16);
}