form.modal {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
    align-items: center;
    grid-row-gap: 30px;

    section:last-child {
        display: flex;

        button {
            flex-grow: 1;
        }
    }
}

.nav-wrapper {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    border-bottom: 2px solid var(--border-color);

    nav {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1200px;
        padding: 0 30px;
        justify-content: space-between;
        align-items: center;

        .nav-links {
            display: flex;
            border: 2px solid var(--border-color);
            border-radius: 50px;
            padding: 0 20px;
            margin: 10px;
        }

        .user-actions {
            display: flex;
            grid-gap: 20px;
        }

        a {
            padding: 5px 10px;
            display: block;
            height: 100%;
            line-height: 20px;
            text-decoration: none;
            color: rgb(112,112,112);
        }
    }
}

.main-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    justify-content: center;
    background: var(--grey-background-gradient);

    main {
        width: 100%;
        max-width: 1200px;
        padding: 30px;
    }
}