@layer reset, contants, typography, materials, layouts, components;

@import url("./reset.css") layer(reset);
@import url("./constants/colors.css") layer(constants);
@import url("./constants/spacing.css") layer(constants);
@import url("./constants/borderRadius.css") layer(constants);
@import url("./typography.css") layer(typography);
@import url("./materials.css") layer(materials);
@import url("./layout.css") layer(layouts);