.site-wrapper {
	min-height: 100vh;
}

.content-container-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid black;

	&.fullHeight {
		height: 100vh;
	}
}

.content-container {
	width: min(100%, 1400px);
}

nav {
	height: 50px;
	width: 100%;
}

main .content-container {
	padding: 50px;
	min-height: 400px;
}
