:root {
	--page-width: 1500px;
}

html {
	scrollbar-gutter: stable;
}

body:has(.portfolio-item-detail) {
    overflow: hidden;
}

.site-wrapper {
	min-height: 100dvh;
}

.content-container-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content-container {
	width: min(100%, var(--page-width));

	&.wide {
		width: min(100%, 1700px);
	}
}

nav .content-container {
	padding-left: var(--spacing-6);
	padding-right: var(--spacing-6);
}

main .content-container {
	padding: var(--spacing-7) var(--spacing-6);
}

