.button-content {
    display: inline-flex;
    align-items: center;
    min-height: 20px;
    width: 100%;
    position: relative;
    transition: opacity var(--default-animation-time);
    padding: var(--padding-5) var(--padding-3);

    &.overlay {
        position: absolute;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    &.has-icon {
        grid-gap: var(--padding-4);
        justify-content: space-between;

        &.only-icon {
            min-height: 30px;
            justify-content: center;
            padding: var(--padding-5);
        }

        svg {
            color: var(--grey-text-2);
        }
    }

    &.same-height-as-width {
        aspect-ratio: 1 / 1;
    }

    &.center-alignment {
        justify-content: center;
    }

    &.icon-left {
        flex-direction: row-reverse;
        justify-content: start;
    }
}

.clickable-input {
    &.primary .button-content.has-icon svg {
        color: var(--white-text);
    }

    &.transparent .button-content {
        padding: var(--padding-5);
    }
}

.inset .outset .button-content.only-icon {
    min-height: 20px;
}