input, textarea, select {
    transition: border-color var(--default-animation-time), border-width var(--default-animation-time);

    &:focus {
        outline: none;
        border-color: var(--primary-base);
        box-shadow: var(--shadow-float-3);
    }
}

textarea {
    resize: vertical;
}

select {
    padding: var(--padding-5);

    &:before,
    &:after {
        display: none;
    }

    &.primary {
        color: var(--white-text);
        border-color: var(--white-text);
    }
}