.section-dark {
    background-color: var(--primary-base);
    border-bottom: 1px solid var(--primary-borders);

    &.gradient {
        background: var(--primary-background-gradient);
        margin-top: calc(0px - var(--spacing-3));
        margin-bottom: calc(0px - var(--spacing-3));
    }

    h1, h2, p, label, button, input, a, textarea, select, option {
        color: white;
    }
}

.section-light {
    background: var(--white-background-gradient);
}