.section-dark {
    background-color: var(--primary-base);
    border-bottom: 1px solid var(--primary-borders);

    &.gradient {
        background: var(--primary-background-gradient);
        margin-top: calc(0px - var(--spacing-3));
        margin-bottom: calc(0px - var(--spacing-3));
    }

    h1, h2, p, label, button, input, a, textarea, select, option, b, i {
        color: white;
    }

    .tab-bar {
        background-color: var(--primary-base) !important;
        border-color: var(--primary-borders) !important;

        .tab-item button {
            color: var(--white) !important;
        }

        &:after {
            background-color: var(--primary-background-solid) !important;
            border: 1px solid var(--primary-borders) !important;
        }
    }
}

.section-light {
    background: var(--white-background-gradient);
}